*.pid
.env
.env.json
*.env.tmp
.logs/
.old
.state_recreate
.state_restart
.tmp_pack/
.versions/
__pycache__/
bin/.venv/
external/
index.html
ollama-runner/.ollama.pid
ollama-runner/.updated
ollama-runner/bin/
ollama-runner/ollama.log
ollama.log
tmp/
output/
tosort/
verification.log
.env.cluster
profile.json
