*.env.tmp
*.pid
.env
.env.cluster
.env.json
.logs/
.old
.state_recreate
.state_restart
.tmp_pack/
.versions/
/workspace/
__pycache__/
bin/.venv/
external/
index.html
index.md
ollama-runner/.ollama.pid
ollama-runner/.updated
ollama-runner/bin/
ollama-runner/ollama.log
ollama.log
output/
profile.json
tmp/
tosort/
verification.log
