# ==============================================================================
# REDIS CACHE LOCAL ENVIRONMENT VARIABLES
# ==============================================================================

# Strict version pinning. No floating tags.
REDIS_VERSION=7.2.4-alpine
REDIS_PORT=6379
